#banner{
  position:relative;
  display: block;
  width: 1200px;
  height: 500px;
  background-position: 0px 0px;
  background-repeat:no-repeat;
  overflow: hidden;

}

.sky {
  position:absolute;
  width: 2577px;
   height: 500px;
   background-image:url(dooza/sky.jpg);
  background-color:#FFFFFF;
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:1;
}

.grass {
  position:absolute;
  width: 1200px;
   height: 500px;
   background-image:url(dooza/grass.png);
  left: 0px;
  top: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  overflow: hidden;
  z-index:2;
}

.title {
  position:absolute;
  width: 1200px;
  height: 500px;
  background-image:url(dooza/title.png);
  left: 0px;
  top: 0px;
  opacity:0;
  z-index:5;
}

.subtitle {
  position:absolute;
  width: 1200px;
   height: 500px;
  background-image:url(dooza/subtitle.png);
  left: 0px;
  top: 0px;
  opacity:0;
  z-index:5;
}

#dooza-1 {
  background-image:url(dooza/dooza-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
  width: 144px;
  height: 177px;
  left: 49px;
  top: 284px;
  opacity:1;
  z-index:196;
}

#dooza-2 {
  background-image:url(dooza/dooza-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
  width: 250px;
  height: 240px;
  left: 238px;
  top: 326px;
  opacity:1;
  z-index:196;
}

#dooza-3 {
  background-image:url(dooza/dooza-3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
  width: 135px;
  height: 135px;
  left: 532px;
  top: 318px;
  opacity:1;
  z-index:196;
}

#dooza-4 {
  background-image:url(dooza/dooza-4.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
  width: 228px;
  height: 244px;
  left: 754px;
  top: 322px;
  opacity:1;
  z-index:196;
}

#dooza-5 {
  background-image:url(dooza/dooza-5.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
  width: 116px;
  height: 175px;
  left: 1031px;
  top: 286px;
  opacity:1;
  z-index:196;
}

.speech {
  position:absolute;
  width: 1200px;
   height: 500px;
  left: 0px;
  top: 0px;
  z-index:5;
}

.speech-1 {opacity:0;background-image:url(dooza/speech-1.png)}
.speech-2 {opacity:0;background-image:url(dooza/speech-2.png)}
.speech-3 {opacity:0;background-image:url(dooza/speech-3.png)}
.speech-4 {opacity:0;background-image:url(dooza/speech-4.png)}
.speech-5 {opacity:0;background-image:url(dooza/speech-5.png)}