body {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-color: #000000;
  background-image: linear-gradient(135deg,#0b344e,#01bcd4);
  background-position: 100% 0;
  background-repeat: no-repeat;
  margin: 0;
  color: white;
}

h1, h2 {
  text-rendering: optimizeLegibility;
  color: inherit;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 1.45rem;
  padding: 0;
  /* word-spacing: -6px; */
}

.h1 {
  text-rendering: optimizeLegibility;
  color: inherit;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 1.45rem;
  padding: 0;
}

.h2 {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2.7rem;
}

h3 {
  text-rendering: optimizeLegibility;
  color: inherit;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

p, li {
  font-size: 1.3rem;
  line-height: 1.5;
}


.button-container {
  display: flex;
  justify-content: space-between; /* Space buttons evenly */
  width: fit-content; /* Container shrinks to fit buttons */
}

.button-container button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px; /* Add spacing between buttons */
  position: relative; /* Needed for hover effect */
}

.button-container button:hover,
.button-container button.active {
  background-color: white;
  color: black;
}

.button-container button:hover::after,
.button-container button.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Overlay for hover effect */
  opacity: 0; /* Semi-transparent white */
  z-index: -1; /* Behind button text */
}

.button-container button {
  /* Lozenge shape (adjust border radius as needed) */
  border-radius: 25px;
}



.dooza-title {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  text-align: center;
  letter-spacing: -0.5rem;
  text-shadow:
  3px  3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px  1px 0 #000,
  1px  1px 0 #000;
  margin-bottom: -50px;
  margin-top: -50px;
}

.dooza-subtitle {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0rem;
  text-shadow:
  3px  3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px  1px 0 #000,
  1px  1px 0 #000;
}

.green {color: #0CFFD3}
.pink {color: #ff51b0}
.blue {color: #00D1FF}
.white {color: #ffffff}

.doug-img {
  border-radius: 47px;
  width: 300px;
}

.loch-img {
  border-radius: 70px;
  width: 100%;
}

.dooza-img {
  width: 100%;
}

.dooza-banner {
  width: 100%;
  margin-top: 50px;
  border: 1px white solid;
}

.banner {
  opacity: 1;
}

.banner-mobile {
  opacity: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: 0px;
}

.logo-group {
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: 1;
}

.logo-img {
  height: 30px;
  margin-top: 4px;
  margin-left: -6px;
}

.logo-type {
  color: #fff;
  margin: 0;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0.7;
}

a:hover {
  color: white;
  text-decoration: underline;
  opacity: 1;
}

.active {
  opacity: 1;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.column {
  width: 100%;
  box-sizing: border-box;
}

.column-left {
  flex: 1;
  padding-right: 60px;
}

.column-right {
  flex: 0 0 320px;
  /* padding: 10px; */
}

.app-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.app-image-mobile {
  width: calc(100% - 20px);
  max-width: 320px;
  margin: 10px;
  display: none;
}

.footer {
  padding: 0;
  text-align: left;
  margin-top: 50px;
}

.footer a{
  font-size: 1rem;
}

form {
  margin: 0 0 1.45rem;
  padding: 0;
}

.input-early-access {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 60px;
  line-height: 42px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 10px;
  outline: 0;
  padding: 8px 16px;
  text-align: left;
  vertical-align: middle;
}

.input-early-access::placeholder {
  color: #ccc;
}

.cta-early-access, .input-early-access {
  color: #fff;
  font-weight: 400;
  width: 250px;
  vertical-align: middle;
}

.cta-early-access {
  background-color: #eb5727;
  border-color: #eb5727;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: -7px;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
}

.cta-early-access-col, .input-early-access-col {
  color: #fff;
  font-weight: 400;
  width: 100%;
  vertical-align: middle;
}

.cta-early-access-col {
  background-color: #eb5727;
  border-color: #eb5727;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: -7px;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.input-early-access-col {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 60px;
  line-height: 42px;
  margin-bottom: 20px;
  margin-right: 10px;
  outline: 0;
  padding: 8px 16px;
  text-align: left;
  vertical-align: middle;
}

.input-early-access-col::placeholder {
  color: #ccc;
}

.cta-entrepot {
  background-color: #eb5727;
  border-color: #eb5727;
  color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: -7px;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
}

.cta-container {
  display: flex;
  justify-content: center;
}

.timeline-image {
  margin-bottom: 60px;
  margin-top: 30px;
}

.game-title {
  margin: 0 auto 0px auto;
  display: block;
  width: 100%;
}

.access-panel {
  background-color: #0b344e;
  border-radius: 20px;
  padding: 10px 20px;
}

.small {
  font-size: 1rem;
  color: #ccc;
  margin-top: 7px;
}

*, :after, :before {
    box-sizing: inherit;
}

.orange-link {
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: underline;
}




/* Media query for larger screens */
@media (min-width: 1220px) {
  #banner {display: block; margin-bottom: 30px}
  .dooza-title-group {display: none}
}

@media (max-width: 1220px) {
  #banner {display: none}
  .dooza-title-group {display: block; margin-bottom: 30px}
}


/* Media query for large screens */
@media (min-width: 768px) {
  .menu {visibility: visible}
  .burger {visibility: hidden}
  .doozas-4 {display: block}
  .doozas-3 {display: none}
  .timeline-image {display: block}
  .banner-mobile {display: none}
  .banner {display: block}
  .sorry {display: none}
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .header {margin-top: 0}
  .story {display: none}
  .nomobile {display: none}
  .menu {visibility: hidden}
  .burger {visibility: visible}
  .doozas-4 {display: none}
  .doozas-3 {display: block}
  .timeline-image {display: none}
  .banner-mobile {display: block}
  .banner {display: none}
  .sorry {display: block}

  .menu {
    display: none;
  }

  .main {
    margin-top: 40px;
  }

  .logo-group {
    margin-top: -10px;
  }

  .dooza-banner {
    margin-top: 0px;
  }

  p, li {
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 0;
  }

  h1, h2 {
    text-rendering: optimizeLegibility;
    color: inherit;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 1.45rem;
    padding: 0;
  }

  .h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.1rem;
  }
  
  h3 {
    text-rendering: optimizeLegibility;
    color: inherit;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .app-image {display: none}
  .app-image-mobile {display: block}
  .column-right {display: none}

  .column-left {
    width: 100%;
    margin: 0;
    padding-right: 0;
  }

  .privacy {
    margin-top: 20px;
  }

  .cta-early-access, .input-early-access {
    width: 100%;
  }


  .dooza-title {
    font-size: 5rem;
    margin-top: -20px;
  }
  
  .dooza-subtitle {
    font-size: 2rem;
    margin-left: 10px;
  }
}